@model WebApplication.Models.CompetitionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Competition</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaInterest" class="control-label"></label>
                <input asp-for="AreaInterest" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultReleasedDate" class="control-label"></label>
                <input asp-for="ResultReleasedDate" class="form-control" />
                <span asp-validation-for="ResultReleasedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeName" class="control-label"></label>
                <div class="col-sm-9 col-md-5">
                    <!-- Drop-down list displaying Judge Name, with Judge ID as returned value -->
                    <select asp-for="JudgeName"
                            asp-items="@(new SelectList(
                                    @ViewData["JudgeList"] as List <Judge>,"JudgeID", "JudgeName"))"
                            class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="myButton" />
            </div>
            <span style="color:green;">@TempData["SuccessMessage"]</span>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index"  asp-controller="AreaInterest">Back to List</a>
</div>

