@model WebApplication.Models.Competition

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Competition</h1>

<hr />
<form asp-action="Delete">
    <fieldset class="FormContent">
        <legend>Are you sure to delete this record?</legend>
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionName" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group">
                @Html.Raw(ViewData["ButtonState"])
            </div>
        </div>
        <span style="color:green;">@TempData["SuccessfullyDeletedMsg"]</span>
        <span style="color:red;">@TempData["ErrorMessage"]</span>
        <div>
            <a asp-action="ViewCompetitions">Back to List</a>
        </div>
    </fieldset>
</form>


