@model WebApplication.Models.Judge

@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete Your Account?</h1>

<hr />
<form asp-action="Delete">
    <fieldset class="FormContent">
        <legend>Are you sure to delete your account?</legend>
        <div class="form-group row">
            <label asp-for="JudgeID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="JudgeID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="JudgeName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="JudgeName" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Salutation"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Salutation" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="AreaInterestName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="AreaInterestName" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmailAddr"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EmailAddr" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Delete"
                       class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
    <span style="color:red">@ViewData["error"]</span>
</form>

<div>
    <a asp-action="ViewProfile"
       asp-controller="Judge">Back To Profile</a>
</div>
