@model WebApplication.Models.Judge

@{
    ViewData["Title"] = "Update";
}

<h1>Update Judge Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JudgeID" class="control-label"></label>
                <input asp-for="JudgeID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="JudgeName" class="control-label"></label>
                <input asp-for="JudgeName" class="form-control" />
                <span asp-validation-for="JudgeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salutation" class="control-label"></label>
                <select asp-for="Salutation"
                        asp-items="@ViewData["Salutations"]
 as List<SelectListItem>"
                        class="form-control">
                </select>

                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaInterestID" class="control-label"></label>
                <select asp-for="AreaInterestID"
                        asp-items="@ViewData["AreaInterest"]
 as List<SelectListItem>"
                        class="form-control">
                </select>
                <span asp-validation-for="AreaInterestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<span style="color:red">@ViewData["error"]</span>

<div>
    <a asp-action="ViewProfile"
       asp-controller="Judge">Back To Profile</a>
</div>
