@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav style="background-color: #0E134E; color: #FFF4F4" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">Judge.IO</a>
        <!--Bar collapse upon smaller screen-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--Navigation items-->
                <li class="nav-item">
                    <a class="nav-link" href="~/Competitor/Create">Create Competitor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Competitor/ViewCompetitionCriteria">Join Competition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Competitor/ViewJoinedCompetitions">View Joined Competitions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>