@model WebApplication.Models.Competitor

@{
    ViewData["Title"] = "CreateCompetitor";
}

<h1>Create Competitor Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCompetitor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitorName" class="control-label"></label>
                <input asp-for="CompetitorName" class="form-control" />
                <span asp-validation-for="CompetitorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salutation" class="control-label"></label>
                <select asp-for="Salutation"
                        asp-items="@ViewData["Salutations"] as List<SelectListItem>"
                        class="form-control"></select>
                <span asp-validation-for="Salutation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="myButton" />
            </div>
            <span style="color:green;">@TempData["SuccessMessage"]</span>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login"
       asp-controller="Home">Login with new Competitor profile</a>
</div>

