<!DOCTYPE html>

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8" />

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <title>Judge.IO - About Us</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <!-- Main Container -->
    <div class="flex-container">
        <!-- Title -->
        <div class="align-content-md-center">
            <p style="font-size: 100px; color: #311DDD; text-align:center">About Us</p>
        </div>
        <!-- Description -->
        <div class="container">
            <p style="font-size: 40px; color: #707070;">
                Judge.IO is a web-based system catered for Lion City University which can accept
                registration of competitors, allows its professors to set up judging criteria and
                assessing the outcome of competition, as well as for the competitors and public members
                to view the results of the competition.
            </p>
        </div>
    </div>
</body>
</html>
