@model WebApplication.Models.Temperatures;

@{
    ViewData["Title"] = "Weather";
}

<!DOCTYPE html>

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8" />

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <title>Judge.IO - About Us</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <!-- Main Container -->
    <div class="flex-container">
        <!-- Title -->
        <div class="align-content-md-center">
            <p style="font-size: 100px; color: #311DDD; text-align:center">Current Weather in SG</p>
        </div>
        <div class="table-responsive">
            <table id="viewCompetition" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <td>Name</td>
                        <td>Temperature (°C)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Minimum Temperature:</td>
                        <td>@TempData["Minimum Temp"]</td>
                    </tr>
                    <tr>
                        <td>Maximum Temperature</td>
                        <td>@TempData["Maximum Temp"]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
